.geography-card{
    width: 90vh;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    border-radius: 15px;

    &.active {
        background-color: #333;
        color: #fff;
    }
}
.region-info {
    margin-top: 20px;
    text-align: left;
}
.infImg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#DF5B17 ;
    text-align: justify;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}