<div class="technical-knowledge-container">
    <div class="technical-knowledge-card">
        <div class="technical-knowledge-image">
            <img src="../../../assets/images/avatar00.png" alt="Hardware Components">

        </div>
        <div class="technical-knowledge-content">
            <h2 class="technical-knowledge-title">Software Applications</h2>
            <p class="technical-knowledge-description">
                Is knowledge of the Stork application, including installation, configuration, latest version and navigation. And the ability to assist with application updates and troubleshooting related to the application.
            </p>
            <ul class="technical-knowledge-list">
                <li>Installing the app: Steps to install the Stork app on various devices (iOS and Android).</li>
                <li>Navigating the app: Guiding users through the app interface, including setting up profiles and accessing health data.</li>
                <li>Data synchronization: Ensure that Stork sensor data is properly synchronized with the app.</li>
                <li>Push Notifications: Configure and troubleshoot notifications for health alerts.</li>
            </ul>
            <button class="technical-knowledge-button">Clic here</button>
        </div>
    </div>
    <div class="technical-knowledge-card">
        <div class="technical-knowledge-image">
            <img src="../../../assets/images/avatar00.png" alt="Hardware Components">
            <div class="image-accent"></div>
        </div>
        <div class="technical-knowledge-content">
            <h2 class="technical-knowledge-title">Wireless Communication</h2>
            <p class="technical-knowledge-description">
                Wi-Fi: Many Baby Stork monitors connect to your home Wi-Fi network, allowing them to transmit data to the app over the internet.
            </p>
            <ul class="technical-knowledge-list">
                <li>Bluetooth: Some monitors may use Bluetooth for direct connections to smartphones or tablets for localized data sharing.</li>
            </ul>
            <button class="technical-knowledge-button">Clic here</button>
        </div>
    </div>
        <div class="technical-knowledge-card">
        <div class="technical-knowledge-image">
            <img src="../../../assets/images/avatar00.png" alt="Hardware Components">

        </div>
        <div class="technical-knowledge-content">
            <h2 class="technical-knowledge-title">Operating System</h2>
            <p class="technical-knowledge-description">
                It is the knowledge of different operating systems (such as iOS, Android), and how to find the information on the device.
            </p>
            <ul class="technical-knowledge-list">
            </ul>
            <button class="technical-knowledge-button">Clic here</button>
        </div>
    </div>
        <div class="technical-knowledge-card">
        <div class="technical-knowledge-image">
            <img src="../../../assets/images/avatar00.png" alt="Hardware Components">

        </div>
        <div class="technical-knowledge-content">
            <h2 class="technical-knowledge-title">Data Transmission</h2>
            <p class="technical-knowledge-description">
                Real-Time Data: The monitor captures data such as sound, motion, or vital signs (if applicable) and sends it in real-time to the app.
            </p>
            <ul class="technical-knowledge-list">
            </ul>
            <button class="technical-knowledge-button">Clic here</button>
        </div>
    </div>
</div>