<div class="systems-container">
    <div class="systems-card">
        <div class="systems-image">
            <img src="../../../assets/images/avatar01.png" alt="Red">

        </div>
        <div class="systems-content">
            <h2 class="systems-title">Hardware</h2>
            <p class="systems-description">
                El monitor Stork utiliza hardware de última generación para capturar y procesar datos precisos sobre el bebé.
            </p>
            <ul class="systems-list">
                <li>Sensores de alta precisión para medir la frecuencia cardíaca y la respiración.</li>
                <li>Cámara de alta definición para video en tiempo real.</li>
                <li>Micrófono con cancelación de ruido para audio claro.</li>
            </ul>
            <button class="systems-button">Más información</button>
        </div>
    </div>
        <div class="systems-card">
        <div class="systems-image">
            <img src="../../../assets/images/avatar01.png" alt="Red">

        </div>
        <div class="systems-content">
            <h2 class="systems-title">Software</h2>
            <p class="systems-description">
                El software del monitor Stork analiza los datos capturados y proporciona información útil a los padres.
            </p>
            <ul class="systems-list">
                <li>Algoritmos de detección de anomalías para alertar sobre posibles problemas.</li>
                <li>Interfaz intuitiva y fácil de usar en la aplicación móvil.</li>
                <li>Actualizaciones de software periódicas con nuevas funcionalidades.</li>
            </ul>
            <button class="systems-button">Más información</button>
        </div>
    </div>
        <div class="systems-card">
        <div class="systems-image">
            <img src="../../../assets/images/avatar01.png" alt="Red">
            <div class="image-accent"></div>
        </div>
        <div class="systems-content">
            <h2 class="systems-title">Red</h2>
            <p class="systems-description">
                El monitor Stork se conecta a la red doméstica para transmitir datos de forma segura.
            </p>
            <ul class="systems-list">
                <li>Conexión Wi-Fi segura y estable.</li>
                <li>Encriptación de datos para proteger la privacidad del usuario.</li>
                <li>Transmisión de datos en tiempo real a la aplicación móvil.</li>
            </ul>
            <button class="systems-button">Más información</button>
        </div>
    </div>
</div>