<div class="app-container">
    <app-sidebar-menu (componentSelected)="handleComponentSelection($event)"></app-sidebar-menu>
    <div class="content">
        <app-home *ngIf="!selectedComponent"></app-home>
        <app-geography-card *ngIf="selectedComponent === 'geography'"></app-geography-card>
        <app-holidays *ngIf="selectedComponent === 'holidays'"></app-holidays>
        <app-sports *ngIf="selectedComponent === 'sports'"></app-sports>
        <app-cuisine *ngIf="selectedComponent === 'cuisine'"></app-cuisine>
        <app-language *ngIf="selectedComponent === 'language'"></app-language>
        <app-currency *ngIf="selectedComponent === 'currency'"></app-currency>
        <app-kpi *ngIf="selectedComponent === 'kpi'"></app-kpi>
        <app-glossary *ngIf="selectedComponent === 'glossary'"></app-glossary>
        <app-technical-knowledge *ngIf="selectedComponent === 'technical-knowledge'"></app-technical-knowledge>
        <app-customers *ngIf="selectedComponent === 'customers'"></app-customers>
        <app-systems *ngIf="selectedComponent === 'systems'"></app-systems>
        <app-retention-glossary *ngIf="selectedComponent === 'retention-glossary'"></app-retention-glossary>
        <app-steps-of-retention *ngIf="selectedComponent === 'steps-of-retention'"></app-steps-of-retention>
    </div>