<div class="side-bar-menu">
    <div class="logo">
        <img src="assets/logos/WhitelogoOptimum.png" alt="Optimum Logo">
    </div>
    <div class="user-profile">
        <div class="avatar-container">
            <img src="assets/images/avatar00.png" alt="Avatar">
        <div class="expert-label">Errorless Expert</div>
        <div class="plus-buttons">
            <button>+</button>
            <button>+</button>
            <button>+</button>
            <button>+</button>
            <button>+</button>
        </div>
            <div class="award-text">
            Finish 5 activities without any error to earn this award.
            </div>
        </div>
    </div>
    <div class="menu-items">
        <div class="menu-item">
            Culture specifics <span class="arrow">></span>
        </div>
        <div class="menu-item">
            Client specifics <span class="arrow">></span>
        </div>
        <div class="menu-item">
            Industry specifics <span class="arrow">></span>
        </div>
    </div>
</div>