    <div class="customers-card">
        <div class="customer-image">
        <img src="../../../assets/images/avatar01.png" alt="Proactive Pia">
        </div>
        <div class="customer-info">
        <div class="card-header">
            <h2 class="customer-title">This is Proactive Pia. Let's know first more about her:</h2>
            <span class="page-indicator">1/3</span>
        </div>
        <div class="demographics">
            <h3>Demographics</h3>
            <ul>
            <li><strong>Age:</strong> 35 years old</li>
            <li><strong>Income:</strong> Upper-middle class</li>
            <li><strong>Education:</strong> Master's degree</li>
            <li><strong>Family status:</strong> Married, first-time mom</li>
            </ul>
        </div>
        <div class="psychographics">
            <h3>Psychographics and behavior:</h3>
            <ul>
            <li>Highly research-oriented and confident in decision-making.</li>
            <li>Values high-quality, tech-centric products.</li>
            <li>Seeks detailed data and analytics for informed decisions.</li>
            <li>Engages with social media and online communities for information.</li>
            <li>Prioritizes safety, security and efficacy in products.</li>
            </ul>
        </div>
        </div>
    </div>