    .drag-and-drop-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        flex-direction: column;
    }

    .drop-targets {
    display: flex;
    gap: 1rem;
    margin: 5px;
    }

    .drop-target {
    width: 200px;
    height: 50px;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .drag-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    }

    .drag-item {
    cursor: grab;

    img {
        width: 100%;
        display: block;
    }
    }