// Reset some default browser styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Set default font and background color for the body
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

// Define some common utility classes
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

// Colores de la paleta
$color-negro: #000000;
$color-gris-oscuro: #333333;
$color-gris-medio: #55565B;
$color-color-hueso: #F9F7F1;
$color-morado-base: #DF5B17;
$color-amarillo: #E1B645;
$color-amarillo-oscuro: #E3A134;

$color-background-azul: #21305B;

$color-negro-1: #1D1D1B;
$color-gris-claro: #F5F5F5;
$color-blanco: #FFFFFF;

$color-gradacion-flip-card: #C7EBDB;
$color-back-flip-card: #EFC4CC;
$color-verde-respuesta: #17C964;
$color-rojo-intento: #F93543;

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}