<div class="glossary-container">
    <h1>Glossary</h1>
    <div class="alphabet-navigation">
      <button
        *ngFor="let letter of alphabet"
        (click)="filterByLetter(letter)"
        [class.active]="activeLetter === letter"
        [class.has-definition]="lettersWithDefinitions.includes(letter)"
      >
        {{ letter }}
      </button>
    </div>
  
    <div class="glossary-items">
      <div class="glossary-item" *ngFor="let item of filteredItems">
        <h3>{{ item.title }}</h3>
        <p>{{ item.definition }}</p>
        <img [src]="item.imageUrl" alt="{{ item.title }}" />
      </div>
    </div>
  </div>